@page "/"
@* Espacio de nombres del cliente generado con NSwag. *@
@using PortatilesAPI;
@* Este es el servicio que se ha definido como HttpClient en Program.cs. *@
@inject swaggerClient swaggerClient;

<PageTitle>Index</PageTitle>

<h1>¡Bienvenido!</h1>

@code {
    private ICollection<PortatilParaPedidoDTO> _portatiles;

    // Se ejecutará al cargarse la página.
    protected override async Task OnInitializedAsync()
    {
        _portatiles = await swaggerClient.GetPortatilesParaPedidoAsync(null, null, null, null, null, null);
    }
}