@page "/"
@* Espacio de nombres del cliente generado con NSwag. *@
@using PortatilesAPI;
@* Este es el servicio que se ha definido como HttpClient en Program.cs. *@
@inject swaggerClient swaggerClient;

<PageTitle>Index</PageTitle>

<h1>¡Bienvenido!</h1>

@if (_portatiles == null)
{
    // Esto hace falta, porque si no la página intentar cargarse y puede que todavía no le haya dado tiempo
    // a traer los datos desde el API.
    <p><em>Cargando...</em></p>
}
else foreach (var portatil in _portatiles)
    {
        @portatil.Modelo
        <br>
    }


@code {
    private ICollection<PortatilParaPedidoDTO> _portatiles;

    // Se ejecutará al cargarse la página.
    protected override async Task OnInitializedAsync()
    {
        _portatiles = await swaggerClient.GetPortatilesParaPedidoAsync(null, null, null, null, null, null);
    }
}